<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header>
      <a class="logo" href="index.html"
        ><img class="logo" src="../images/lego.jpg" alt="logo"
      /></a>
      <ul class="nav">
        <li>
          <a href="index.html"
            ><ion-icon name="home"></ion-icon>
            <h1>acceuil</h1></a
          >
        </li>
        <li>
          <a href="projet.html"
            ><ion-icon name="briefcase"></ion-icon>
            <h1>projets</h1></a
          >
        </li>
        <li>
          <a href="formulaire.html"
            ><ion-icon name="mail"></ion-icon>
            <h1>formulaire de contact</h1></a
          >
        </li>
      </ul>
    </header>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
